<html title="Wave Mapper">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', {'packages':['corechart']});
        google.charts.load("current", {
            "packages":['map','geochart'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            "mapsApiKey": "{{mapsApiKey}}",
            "callback": drawMap
        });
        // google.charts.setOnLoadCallback(drawMap);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([{{{waveData}}}]);

            //Graph styling and legend
            var options = {
                title: 'sumVar2 (%)',
                curveType: 'function',
                legend: { position: 'bottom' },
                vAxis: { title: 'someVar2 %'},
                hAxis: { title: 'someVar1'}
            };
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }

        function drawMap() {
            var data = google.visualization.arrayToDataTable([{{{waveData}}}])

            var waveurl = 'https://icons.iconarchive.com/icons/iconsmind/outline/'

            var sharkicon ="https://icons.iconarchive.com/icons/martin-berube/animal/32/shark-icon.png"

            var sailboaticon = "https://icons.iconarchive.com/icons/aha-soft/transport/32/sailing-ship-icon.png"

            var notavailable = "https://icons.iconarchive.com/icons/webiconset/blogging/16/Not-Available-for-Work-icon.png"

            var waveicon = 'Wave-icon.png'

            var skarkicon= 'shark-icon.png'

            var options = {
                zoomLevel: 6,
                showTooltip: true,
                showInfoWindow: true,
                useMapTypeControl: true,
                showLine: true,
                icons: {
                    verybig: {
                        normal:   waveurl + '/72/' + waveicon,
                        selected: waveurl + '/72/' + waveicon
                    },
                    big: {
                        normal:   waveurl + '/64/' + waveicon,
                        selected: waveurl + '/64/' + waveicon
                    },
                    medium: {
                        normal:   waveurl + '/48/' + waveicon,
                        selected: waveurl + '/48/' + waveicon
                    },
                    small: {
                        normal:   waveurl + '/32/' + waveicon,
                        selected: waveurl + '/32/' + waveicon
                    },
                    verysmall: {
                        normal:   waveurl + '/24/' + waveicon,
                        selected: waveurl + '/24/' + waveicon,
                    },
                    shark: {
                        normal:   sharkicon,
                        selected: sharkicon,
                    },
                    boat: {
                        normal:   sailboaticon,
                        selected: sailboaticon,
                    },
                    notavailable: {
                        normal:   notavailable,
                        selected: notavailable,
                    }
                }
            };


            var map = new google.visualization.Map(document.getElementById('map_div'));
            map.draw(data, options);

            google.visualization.events.addListener(map, 'select', selectHandler)

            function selectHandler(e) {
                var selection = map.getSelection()
                var message = '';
                var dataTable = data;
                for (var i = 0; i < selection.length; i++) {
                    var item = selection[i];
                    if (item.row != null) {
                        var lon = data.getFormattedValue(item.row, 0); // 0,1,2,3
                        var lat = data.getFormattedValue(item.row, 1); // 0,1,2,3
                        message += '{lat:' + lat + ',lon:' + lon + '}';
                        // message += '{lat:' + item.row + ', column:none}; value (col 0) = ' + str + '\n';
                    }
                }
                if (message == '') {
                    message = 'nothing';
                }
                fetch('/api/location?lat=' + lat + '&lon=' + lon)
                        .then(response=>response.text())
                        .then(data=> alert('You selected ' + data));

            }






        }


    </script>

</head>

<body>
<div id="map_div" style="width: 100%; height: 100%"></div>
</body>
</html>
